*{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
body{
	background-color: #2f353c;
}
.w{
	width: 900px;
	margin: 0 auto;
}
.f h2{
	font-size: 25px;
	
}
.top{
	height: 30px;
	padding: 30px;
	color: #ffffff;
	background-color: #38414a;

}
a{
	color: #ffffff;
	text-decoration: none;


}
a:hover{
	color: red;
}
.top li:nth-child(2){
	margin-left: 300px;
}

.top   li {
	margin: 10px;
	float: left;
}


 .maintop{
	height: 40px;
	background-color: #909599;

}
.l{
	float: left;
}
.r{
	float: right;
}
.maintop li{
	padding: 10px;
	float: right;
}
.maintop li:nth-child(1) {
	margin-right: 90px;
}

/*中间start*/
.medleft{
	width: 638px;
	margin: 10px;
	margin-left: 0px;
	margin-bottom: 2px;

}
.medleft{
	width: 635px
	width: 230px;
	border: 1px solid #cccccc;
	border-top: 1px solid #0099ff;
	display: inline-block;
	overflow: hidden;
	background-color: #60656b;
}
.medleft img{
	height: 147px;
	width: 110px;
}
.medleft li{
	float: left;
	margin-left: 14px;
	margin-bottom: 8px;
	text-align: center;
}
.medleft h3{
	color: #ffff33;
	margin: 10px;
}
.medright{
	margin: 7px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 1px;
	float: right;
	display: inline-block;
	width: 243px;
	height: 410px;
	border: 1px solid #cccccc;
	background-color: #60656b;

}
.medright li{
	padding: 2px 20px 0px 20px;

}
.medright li i{
	padding: 15px;
	font-style: normal;
	color: #ff6600;

}
.medright li span{
	padding: 15px;
}
.medright li:first-child{
	padding: 10px 100px 10px 20px;
	color: #ff66ff;
	border-bottom: 1px solid #cccccc;
}


.mainbot{
	width: 900px;
	height:170px;
	border: 2px solid #cccccc;
	border-top: 1px solid #0099ff;
	background-color: #60656b;


}
.mainbot li {
	float: left;
	text-align: center;
}
.mainbot li img {
	width: 90px;
	height: 90px;
	margin-left: 30px;}

.mainbot h3{
	color: #ffff33;
	margin: 10px;
}
/*中间end*/

/*.bot{
	width: 900px;
	height:55px;
	background-color: #30353b;


}*/
.bot span{
	display: block;
	color: #ffffff;
	padding: 15px 300px;
	width: 300px;
	height:55px;
	background-color: #333a42;

	}